/* ============================================================== */
/* Page                                                           */
/* -------------------------------------------------------------- */

.container {
	padding-top: 4em;
	display: flex;
	max-width: 70em;
	margin: 0 auto;
}

/* ============================================================== */
/* Aside                                                          */
/* -------------------------------------------------------------- */

.aside {
	/* background: lightcoral; */
	display: none;
}

/* ============================================================== */
/* Main                                                           */
/* -------------------------------------------------------------- */

.main {
	/* background: lightblue; */
	width: 100%;
}

/* ============================================================== */
/* Media Queries                                                  */
/* -------------------------------------------------------------- */

@media screen and (min-width: 600px) {
	.aside {
		display: block;
		min-width: 16em;
	}
}
