.container {
	background: #ebecf0;
	margin: 0.2em;
	border-radius: 0.2em;
	padding: 0.4em;
	margin-bottom: 0.9em;
	min-width: 17em;
	height: fit-content;
}

.isDragging {
	composes: container;
	border: 1px solid red;
}

.header {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.input {
	border-radius: 0.2em;
	border: none;
	padding: 0.5em 0.8em;
	color: #314361;
	/* width: 100%; */
	width: 17.6em;
	font-size: 0.8em;
	font-weight: 700;
	background: none;
	cursor: pointer;
}

.input:hover {
	background: #d8d8dd;
}

.input:focus,
.input:active {
	background: #fff;
}

.btn {
	background: none;
	border: none;
	cursor: pointer;
	color: #9ba2b0;

	border-radius: 0.2em;
	padding: 0.4em 0.7em;
}

.btn:hover,
.btn:focus {
	background: #d8d8dd;
	color: #314361;
}

.btn:active {
	background: #cacacf;
	color: #314361;
}

.btnMenu {
	composes: btn;
	color: #314361;
	font-weight: 700;
}

.addCard {
	composes: btn;
	width: 100%;
	text-align: left;
	font-size: 0.9em;
}
