/* ============================================================== */
/* Page                                                           */
/* -------------------------------------------------------------- */

.page {
	position: relative;
	min-height: 100vh;
}

.BG {
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: -10;
}

.colorBG {
	composes: BG;
}

.imageBG {
	composes: BG;
	object-fit: cover;
}

.container {
	padding-top: 4em;
	display: flex;
	max-width: 70em;
	margin: 0 auto;
}

/* ============================================================== */
/* Aside                                                          */
/* -------------------------------------------------------------- */

.aside {
	/* background: lightcoral; */
	display: none;
}

/* ============================================================== */
/* Main                                                           */
/* -------------------------------------------------------------- */

.main {
	/* background: lightblue; */
	width: 100%;
}

/* ============================================================== */
/* Media Queries                                                  */
/* -------------------------------------------------------------- */

@media screen and (min-width: 600px) {
	.aside {
		display: block;
		min-width: 16em;
	}
}
