.container {
	color: #7a8599;
	background: #fff;
	border: 1px solid #e8e9ed;
	border-radius: 0.3em;
	position: absolute;
	-webkit-box-shadow: 0px 3px 15px -8px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0px 3px 15px -8px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 3px 15px -5px rgba(0, 0, 0, 0.4);
	width: 18em;
	padding: 0.5em 0;
}

.title {
	margin: 0;
	padding-top: 0.6em;
}

.hr {
	border: none;
	border-top: 1px solid #cccccc;
	margin: 0.6em;
}

.list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.btn {
	color: #758195;
	background: none;
	border: none;
	width: 100%;
	padding: 0.8em;
	display: flex;
	justify-content: space-between;
	cursor: pointer;
}

.btnMain {
	color: #5e6c84;
	text-decoration: underline;
	width: 100%;
	border: none;
	background: none;
	cursor: pointer;
	text-align: left;
	transition: background 40ms ease-in;
	padding: 0.7em;
	outline: none;
}

.btnMain:hover,
.btnMain:active {
	background: #e7e8eb;
}

.bold {
	font-weight: 700;
}

.btn:hover,
.btn:focus,
.btn:active {
	background: #f5f6f8;
}

.closeBtn {
	cursor: pointer;
	background: none;
	border: none;
	position: absolute;
	top: 0.5em;
	right: 0;
	padding: 1em;
}
